<!--
  Generated template for the ModifyUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>แก้ไขข้อมูลส่วนบุคคล <ion-icon name="clipboard"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#396E60;background-size:cover;">
  
  

  <ion-title color= "dark">Photo</ion-title>
  
  <ion-card style="width : 200px; height: 200px" *ngIf= "(dbServer | async)?.Img">
  <img [src] = "(dbServer | async)?.Img">
  </ion-card>

  
  <ion-title color= "dark" *ngIf="profile.Img">New Photo</ion-title>
  <ion-card style="width : 200px; height: 200px" *ngIf= "profile.Img">
  <img [src] = "profile.Img">
  
  </ion-card>
  <button *ngIf="profile.Img" ion-button round color ="dark" (click)="updatePhoto({Img : profile.Img})">บันทึกรูปภาพ&nbsp;<ion-icon name="checkmark-circle-outline"></ion-icon></button>
  <button ion-button color ="dark" (click)="takePhoto()">Camera&nbsp;<ion-icon name="camera"></ion-icon></button>
  <button ion-button color ="dark" (click)="takePhotoAlbum()">Album&nbsp; <ion-icon name="albums"></ion-icon></button>
  <ion-item>
    <ion-label floating>Name : </ion-label>
    <ion-input #name [ngModel]="(dbServer | async)?.name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label floating>Address : </ion-label>
    <ion-input #address [ngModel]="(dbServer | async)?.address"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label floating>Card : </ion-label>
      <ion-input #card [ngModel]="(dbServer | async)?.card"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Phone : </ion-label>
      <ion-input #phone [ngModel]="(dbServer | async)?.phone"></ion-input>
 </ion-item>

 <button ion-button round color ="dark" (click)="save({name : name.value,address : address.value,card : card.value,phone : phone.value })">บันทึกข้อมูล&nbsp;<ion-icon name="checkmark-circle-outline"></ion-icon></button>
  <br>
 <br>
 <ion-item>
    <ion-label >Password : </ion-label>
    <ion-input type="password" [(ngModel)]="pass"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label >ConfirmPassword : </ion-label>
      <ion-input type="password" [(ngModel)]="pass2"></ion-input>
  </ion-item>
  <br>
  <button ion-button round color ="dark" (click)="changePass()">เปลี่ยนแปลงพาสเวิร์ด &nbsp; <ion-icon name="build"></ion-icon></button>
</ion-content>
