<!--
  Generated template for the WaitDeliver2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "dark">
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-grid>
  <ion-row>
      <ion-col col-6 *ngFor="let img of img ;">
      <ion-card>
          <img [src]="img" imageViewer>
      </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-content padding style="background-color:#396E60;background-size:cover;">
  <ion-card>
    <strong> ชื่อ : </strong> {{(dbServer| async)?.name}} <br>
     <strong>ข้อมูลทั่วไป :</strong> {{(dbServer| async)?.des}} <br>
     <strong> ประเภทสินค้า : </strong> {{(dbServer| async)?.sort}} <br>
     <strong> Status : </strong> {{(dbServer| async)?.Status}}<br>
     <strong> สินค้าจบราคาที่ : </strong> {{(dbServer| async)?.priceStatus}} THB <br>
     <strong> ผู้ชนะ : </strong> {{(dbServer| async)?.winBid}}<br>
 </ion-card>
 <ion-card>
  <strong> ข้อมูล ผู้ชนะ การประมูล </strong><br>
  <ion-card style="width : 200px; height: 200px" *ngIf= "(dbServer2 | async)?.Img">
      <img [src] = "(dbServer2 | async)?.Img" imageViewer>
</ion-card>
  <strong> ชื่อ </strong> {{(dbServer2| async)?.name}}<br>
  <strong> ที่อยู่ : </strong> {{(dbServer2| async)?.address}}<br>
  <strong> รหัสบัตรประชาชน : </strong> {{(dbServer2| async)?.card}}<br>
  <strong> เบอร์โทรศัพท์ : </strong> {{(dbServer2| async)?.phone}}<br>
</ion-card>

<ion-item>
    <ion-label>สถานะสินค้า :</ion-label>
    <ion-select #Delivery type="text" [ngModel]="(dbServer | async)?.Delivery"> 
      <ion-option  value = "รอการชำระเงิน">รอการชำระเงิน</ion-option>
      <ion-option  value = "ชำระเงินเรียบร้อย รอการขนส่ง">ชำระเงินเรียบร้อย รอการขนส่ง</ion-option>
      <ion-option  value = "ขนส่งเรียบร้อย">ขนส่งเรียบร้อย</ion-option>
    </ion-select>
</ion-item>

<button ion-button full color ="dark" (click)="save({Delivery : Delivery.value})">Update &nbsp; <ion-icon name="build"></ion-icon></button>
</ion-content>
