<!--
  Generated template for the WaitDeliverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="dark">
    <ion-title>สินค้าปิดประมูล รอการจัดส่ง </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#396E60;background-size:cover;">
  <ion-card *ngFor="let item of dbServer | async " (click)="goTodel(item)">
        <div *ngIf="item.UID ==  uidUser">
        <div *ngIf="item.Status == 'ปิดการประมูล'">
        <div *ngIf= "item.img != null">
          <img src ={{item.img[0]}} height=200 width=200 imageViewer>
          <ion-card-title>{{item.name}}
          </ion-card-title>
        </div>  
         <ion-card-content><ion-card-header><strong>ชื่อสินค้า : {{item.name}}</strong></ion-card-header>
         สถานะสินค้า : {{item.Status}}<br>
         ข้อมูลทั่วไปสินค้า : {{item.des}} <br> 
         ราคาประมูลปัจจุบัน : {{item.priceStatus}} THB<br>
         ผู้ชนะปัจจุบัน : {{item.winBid}} <br><br>
         สถานะการดำเนินการ : {{item.Delivery}}
         <br>
        </ion-card-content>
      </div>
    </div>
       </ion-card>
</ion-content>
