<!--
  Generated template for the WinBidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>winBid</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color:#396E60;background-size:cover;">
    <div *ngFor="let item of dbServer | async ;" (click)="gotoBid2(item)">
    <div *ngIf="item.UID !=  uidUser">
      <div *ngIf ="item.winBid == emailUser">
        <div *ngIf="item.Status == 'ปิดการประมูล'">
          <ion-item>
          <ion-icon item-right name="ios-arrow-forward-outline"></ion-icon> 
            <p style="color:black">ชื่อสินค้า : {{item.name}}<br>
          สถานะการประมูล : {{item.Status}} <br>
          ราคาประมูลปัจจุบัน : {{item.priceStatus}} THB<br>
          ผู้ชนะ : คุณคือผู้ชนะการประมูล <br>
          สถานะการจัดส่ง : {{item.Delivery}}<br></p>
        </ion-item>
      </div>
    </div>
    </div>
  </div>
</ion-content>
